<template>
    <div class="hello">
      <my-progress/>
      <input v-model.number="name"/>
    </div>
</template>

<script>
    import myProgress from "@/components/myProgress";
    export default {
        name: 'HelloWorld',
        data() {
            return {
                name:0
            }
        },
        components: {
            myProgress
        },
        methods:{

        },
        mounted(){
        },
    }
</script>

