<template>
  <canvas ref="canvas" :width="canvasSize" :height="canvasSize" >你的浏览器不支持canvas</canvas>
</template>

<script>
    export default {
        name: "progress",
        props: {
            // 圆环半径
            circleRadius: {
                type: Number,
                default: 40
            },
            // 圆点半径
            pointRadius: {
                type: Number,
                default: 6
            },
            circleWidth: {
                type: Number,
                default: 2
            },
            circleColor: {
                type: String,
                default: '#3B77E3'
            },
            label: {
                type: String,
                default: '天下无敌'
            },
            fontSize: {
                type: Number,
                default: 14
            },
            fontColor: {
                type: String,
                default: '#3B77E3'
            },
            angleRange: {
                type: Array,
                default: () => [360, 100]
            }
        },
        computed: {
            outerRadius () {
                return this.circleRadius + this.pointRadius
            },
            canvasSize () {
                return 2 * this.outerRadius + 'px'
            }
        },
        data() {
            return {

            }
        },
        mounted() {
            this.$nextTick(() => {
                this.initCanvas();
            })
        },
        methods: {
            initCanvas () {
                const canvas = this.$refs && this.$refs.canvas;
                const ctx = canvas.getContext('2d');
                ctx.strokeStyle = this.circleColor;
                ctx.lineWidth  = this.circleWidth;
                ctx.beginPath();
                ctx.arc(this.outerRadius,this.outerRadius, this.circleRadius, 0 , this.deg2Arc(360));
                ctx.stroke();
                if (this.label) {
                    ctx.font = `${this.fontSize}px Arial, 'Microsoft YaHei'`;
                    ctx.fillStyle = this.fontColor;
                    ctx.textAlign = 'center';
                    ctx.textBaseline  = 'middle';
                    ctx.fillText(this.label, canvas.clientWidth / 2, canvas.clientWidth / 2)
                }
                ctx.strokeStyle = this.circleColor;
                ctx.lineWidth = this.pointRadius;
                ctx.beginPath();
                ctx.arc(this.outerRadius, this.outerRadius, this.circleRadius, this.deg2Arc(0), this.deg2Arc(90));
                ctx.stroke();


                ctx.fillStyle = this.circleColor;
                ctx.beginPath();
                const pointPosition = this.getPositionsByDeg(90);
                ctx.arc(pointPosition.x + this.pointRadius, pointPosition.y + this.pointRadius, this.pointRadius, 0, this.deg2Arc(360));
                ctx.fill();
            },
            // 转弧度
            deg2Arc (deg) {
                return deg / 180 * Math.PI
            },
            getPositionsByDeg (deg) {
                let x = 0;
                let y = 0;
                if (deg >= 0 && deg <= 90) {
                    x = this.circleRadius * (1 + Math.cos(this.deg2Arc(deg)));
                    y = this.circleRadius * (1 + Math.sin(this.deg2Arc(deg)));
                } else if (deg > 90 && deg <= 180) {
                    x = this.circleRadius * (1 - Math.cos(this.deg2Arc(deg)));
                    y = this.circleRadius * (1 + Math.sin(this.deg2Arc(deg)));
                } else if (deg > 180 && deg <= 270) {
                    // 180~270度
                    x = this.circleRadius * (1 - Math.sin(this.deg2Arc(270 - deg)));
                    y = this.circleRadius * (1 - Math.cos(this.deg2Arc(270 - deg)));
                } else {
                    // 270~360度
                    x = this.circleRadius * (1 + Math.cos(this.deg2Arc(360 - deg)));
                    y = this.circleRadius * (1 - Math.sin(this.deg2Arc(360 - deg)));
                }
                return { x,y }
            }
        }
    }
</script>

<style scoped>

</style>
